.headerImg {
    position: relative;
}

.pathItemHint {
    position: absolute;
    padding-left: 10px;

    left: calc(100% + 60px);
    top: calc(100% + 12px);
}

.pathItemHint button {
    height: 12px;
    padding: 0;
    padding-left: 20px;
    background: #fff;
    cursor: pointer;
}