.deliveryBlock {
    display: flex;
    align-items: flex-end;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
}

.deliveryGroup span {
    margin-bottom: 16px;
    color: #B7B7B7;
}

.deliveryGroupContainer {
    margin-right: 12px;
    position: relative;
}

.deliveryGroup {
    display: flex;
    border-radius: 3px;
}

.deliveryGroupItem {
    display: flex;
    flex-direction: column;
    position: relative;
}

.cityLink {
    min-width: 142px;
    max-width: 180px;
}

.deliveryLink {
    display: block;
    padding: 26px 32px;
    background-color: #ffffff;
    position: relative;
    cursor: pointer;    
    text-align: left;
}

.deliveryGroupItem:not(:last-child)::after {
    content: '';
    width: 1px;
    height: 47px;
    background-color: #DEDEDE;

    position: absolute;
    right: 0;
    bottom: 10px;
}

.hasSubgroup {
    padding-right: 55px;
}

.arrow {
    width: 10px;
    height: 10px;
    border-top: 1px #000 solid;
    border-right: 1px #000 solid;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-100%) rotate(135deg);
}

.deliverySubgroup {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 2;
}

.deliverySubgroup:hover > li a {
    border-top: 1px solid #DEDEDE;
}

.deliverySubgroup > li:hover a {
    background-color: #DEDEDE;
}

.deliveryGroupItem:hover .deliveryLink {
    display: block;
}

.deliveryLink input {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    max-height: 15px;
    color: inherit;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.helpWrt {
    position: absolute;
    width: 329px;
    height: 55px;
    left: 0;
    top: 150px;
    padding: 20px;
    background-color: #fff;
    color: #5DAAFF;
    letter-spacing: 0.2px;
    font: inherit;
    text-align: center;
    font-weight: 600;
    box-shadow: 0px 4px 40px rgba(93, 170, 255, 0.1);
    border-radius: 3px;
}

.helpWhenClick {
    position: absolute;
    width: 350px;
    height: 55px;
    left: 320px;
    top: -40px;
    padding: 20px;
    background-color: #FFFFFF;
    color: #5DAAFF;
    box-shadow: 0px 4px 40px rgba(93, 170, 255, 0.1);
    border-radius: 3px;
    font: inherit;
    text-align: center;
    letter-spacing: 0.2px;
    font-weight: 600;
    z-index: 5;
}