.deliveryBlock {
    display: flex;
    align-items: flex-end;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
}

.deliveryGroup span {
    margin-bottom: 16px;
    color: #B7B7B7;
}

.deliveryGroupContainer {
    margin-right: 12px;
    position: relative;
}

.deliveryGroup {
    display: flex;
    border-radius: 3px;
}

.deliveryGroupItem {
    display: flex;
    flex-direction: column;
    position: relative;
}

.deliveryGroupItem:hover .deliveryLink {
    display: block;
}

.deliveryGroupItem:hover .deliverySubgroup li {
    border-top: 1px solid #EBEBEB;
}

.deliveryGroupItem:not(:last-child)::after {
    content: '';
    width: 1px;
    height: 47px;
    background-color: #DEDEDE;

    position: absolute;
    right: 0;
    bottom: 10px;
}

.cityLink {
    min-width: 142px;
    max-width: 180px;
}

.deliveryLink {
    display: block;
    padding: 26px 32px;
    background-color: #ffffff;
    position: relative;
    cursor: pointer;
    text-align: left;
}

.hasSubgroup {
    padding-right: 55px;
}

.arrow {
    width: 10px;
    height: 10px;
    border-top: 1px #000 solid;
    border-right: 1px #000 solid;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-100%) rotate(135deg);
}

.deliverySubgroup {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 2;
}

.deliverySubgroup > li:hover a {
    background-color: #DEDEDE;
}

.deliverySubgroup:hover > li {
    border-top: 1px solid #DEDEDE;
}

.deliveryLink input {
    display: inline;

    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    height: 14px;
    color: inherit;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.helpWrt {
    padding-right: 10px;

    position: absolute;
    left: 0;
    top: calc(100% + 24px);
}

.helpWhenClick {
    position: absolute;

    padding-right: 10px;

    right: 0;
    bottom: calc(100% + 16px);
}