.catalogueItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #606F7A;
    background-color: #F8FAFF;
    text-align: center;
    border: 1px solid #E2E4EA;
    border-radius: 3px;
    letter-spacing: -1px;
}

.catalogueItem:not(:last-child) {
    margin-bottom: 4px;
}

.productImage {
    height: 97px;
    border-right: 1px solid #E2E4EA;
}

.withNoBtn {
    max-width: 430px;
    justify-content: unset;
}

.withNoBtnProductName {
    padding: 0 20px;
}