.products {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.productsItem {
    max-width: 630px;
}

.productsTitle {
    margin-bottom: 40px;
    font: inherit;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -1px;
    color: #606F7A;
}

.productSubtitle {
    font: inherit;
    font-size: 23px;
    line-height: 23px;
    letter-spacing: -1px;
    color: #606F7A;
    margin-top: 210px;
    text-align: center;
}
.catalogue {
    max-height: 408px;
    overflow-x: hidden;
    overflow-y: scroll;

    scroll-snap-type: x mandatory;
}

.productsSearch {
    position: relative;
    display: flex;
    max-width: 495px;
    margin-bottom: 58px;
}

.productsSearch input {
    padding: 19px;
    font: inherit;
    font-size: 15px;
    text-align: left;
    color: #606F7A;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.06);
    border-radius: 3px;
    margin-right: 10px;
}

.productsSearch button {
    padding: 18px 30px;
}

.btnForm {
    padding: 19px 50px;
}

.countSelector {
    display: flex;
}

.countSelector button {
    font: inherit;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #606F7A;
}

.formControl span {
    font: inherit;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #606F7A;
}

.formGroup {
    display: flex;
    align-items: center;
    max-width: 320px;
    margin-bottom: 15px;
    margin-top: 24px;
}

.formGroup span {
    font: inherit;
    font-size: 15px;
    line-height: 15px;
    color: #606F7A;
    margin-right: 35px;
}

.countSelectorItem {
    background-color: #fff;
    text-align: center;
    width: 53px;
    height: 53px;
}

.countSelectorCounter {
    font: inherit;
    font-size: 15px;
    line-height: 53px;
    color: #606F7A;
}

.formControl {
    padding: 19px;
    text-align: left;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.06);
    border-radius: 3px;
}

.productsForm {
    margin: 0 auto;
}

.formFooter {
    margin-top: 36px;
}

.btnForm:first-child {
    margin-right: 9px;
}

.SearchHint {
    display: flex;
    align-items: center;

    padding-left: 10px;
    line-height: 23px;

    position: absolute;
    left: calc(100% + 48px);
    top: 50%;
    transform: translateY(-50%);
}