.deliveryBlock {
    display: flex;
    align-items:center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
}

.deliveryGroup span {
    color: #B7B7B7;
}

.deliveryGroupContainer {
    margin-right: 12px;
}

.deliveryGroup {
    display: flex;
    border-radius: 3px;
}

.liContainer ul:not(:last-child)::after {
    content: '';
    display: block;
    height: 50px;
    width: 1px;
    background-color: #DEDEDE;

    position: absolute;
    right: 0px;
    top: 10px;
}

.liContainer {
    margin-top: 16px;
    background-color: #fff;
    max-width: 135px;
    min-height: 67px;
    position: relative;
}

.liContainer ul li {
    max-width: 135px;
    padding: 26px 32px;
}

.arrow {
    width: 10px;
    height: 10px;
    border-top: 1px #000 solid;
    border-right: 1px #000 solid;
    position: absolute;
    top: 50%;
    right: 1px;
    transform: translateY(-100%) rotate(135deg);
}

.show {
    display: block;
}

.hide {
    display: none;
}

.helpWrt {
    position: absolute;
    width: 329px;
    height: 55px;
    left: 97px;
    top: 543px;
}

.helpWhenClick {
    position: absolute;
    width: 350px;
    height: 55px;
    left: 446px;
    top: 381px;
}