.addedFurniture {
    display: flex;
    flex-direction: column;
}

.tableScroll {
    max-height: 490px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 15px;
}

.furnitureTable {
    width: 100%;
    text-align: center;
    margin: 0;
    background-color: #fff;
    border-collapse: collapse;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -1px;
    color: #606F7A;
}
.furnitureTable thead {
    border-bottom: 10px solid #DDEDFF;
}


.furnitureTable {
    max-height: 600px;
}

.furnitureTable {
    border-top: 10px solid #DDEDFF;
}

.visible {
    padding: 33px 30px;
    border: 1px solid #E2E4EA;
}

.furnitureTableHeader {
    padding: 33px 0;
}
.furnitureTable td {
    min-width: 105px;
    max-height: 97px;
    border: 1px solid #E2E4EA;
}

.transparent {
    border: 1px solid #DDEDFF;
    background-color: #DDEDFF;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

.tableControls {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.controlsItem {
    margin-bottom: 48px;
}

.btnFooter {
    padding: 19px 50px;
}
.controlsTable {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 23px;
    letter-spacing: 0.2px;
}
.controlsTable td {
    text-align: right;
    width: 260px;
    display: inline-block;
}


.controlsTable tbody td{
    border-bottom: 28px solid transparent;
} 
.controlsTable tfoot td{
    border-top: 12px solid transparent;
    font-weight: 600;
    font-size: 31px;
}

.btnFooter:not(:last-child) {
    margin-right: 12px;
}